*{
    padding: 0;
    margin: 0;
}
#root, body{
    width: 100%;
}
.header{
    height: 140px;
    background-color: #0c0c0c;
    color: snow;
    border-bottom: 2px solid rgb(255, 0, 0);

    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 140px;
    width: 100%;
}
.link{
    grid-column-start: 4;
    grid-column-end: 9;
    position: relative;
}
.logo{
    grid-column-start: 1;
    grid-column-end: 2;
    position: relative;
}
.link li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    margin: 0 40px;
}
.link ul{
    margin:55px 0;
}
.link a{
    text-decoration: none;
    color: rgb(255, 0, 0);
    font: 17px/1.5 verdana,'Times New Roman';
}
.link a:hover{
    color: snow;
}
.sidebar {
    width: 15%;
    position: fixed;
    float: left;
    height: 100%;

    font: 30px/2 'Times New Roman';
    padding-top: 50px;
    background-color: #0c0c0c;
    color: snow;
    border-right: 2px solid rgb(255, 0, 0) ;
} 
.Mainbar{
    width: 85%;
    float: right;
    left: 0;
    margin-top: 50px;
    margin-left: 400px;
}
.clearfix::after{
    clear: both;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin:20px;
}
td, th {
    border: 1px solid #0c0c0c;
    text-align: center;
    padding: 8px;
}
button{
    font: 15px/2 'Times New Roman';
    background-color: #0c0c0c;
    color:rgb(255, 0, 0);
    padding: 8px;
}

.addNew{
    margin: 40px;
    
}
.inputs{
    margin-top: 20px;
    display: block;
}
.form input{
    padding:0 5px;
}